<div class="post-form">
  <%= form_with model: @article, local: true do |f| %>
    <div id="image-list"></div>
    <%= f.file_field :image, placeholder: "Image Url", id: "image-form" , class:"image_form"%>
    <%= f.text_area :sentence, placeholder: "text", rows: "10", class: "text-form" %>
    <%= f.submit "SEND", class: "send-form" %>
  <% end %>
</div> 
