<div class="chat-form">  
  <div class="send-info">
    <div class="send-lists">
      <%= link_to article_path(article.id) do%>
        <div class="name">
          <p class="nick-name">
            <%= article.user.nickname%>
          </p>
        </div>
        <div class="image">
          <%= image_tag article.image, class: "item-img" if article.image.attached? %>
        </div>
      <%end%>
    </div>
    <div class = contents>
      <p class="break-all">
        <%= article.sentence %>
      </p>
    </div>
  </div>
</div>

