<div class="side-bar-header">
  <div class="header-name-icon">
    <%= image_tag current_user.image, class:"icon" %>
  </div>
  <div class="header-name">
    <%= link_to current_user.nickname %>
  </div>

</div>



