<div class="title-name">
  <h1>Hi-there</h1>
</div>
<div class="second-title">
  <h5>~edit page~</h5>
</div>
<div class="container">
  <div>
    <%= render partial:"form",locals: {article: @article}%>
  </div>
</div>