<%= render "head-name"%>

<div class="contents"> 
  <%= render "shared/error_messages",model: @article %> 
  <div class="contents row">
    <h4>post page</h4>
    <div class="container">
      <%= render partial: "form",locals: {article: @article},class: "form"%>
    </div>
  </div>
</div>