<div class="new-post"> 
  <%= render "head-name"%>

  <div class="contents">  
    <div class="contents row">
      <h4 class="post-page">post page</h4>
      <%= render "shared/error_messages",model: @article %>
      <div class="container">
        <%= render partial: "form",locals: {article: @article},class: "form"%>
      </div>
    </div>
  </div>
</div>