 <div class="wrapper"> 
  <div class="card-wrapper">
    <% @sends.each do |send| %>
      <div class="send-info">
        <div class="send-lists">
          <%= link_to sends_path(send.id) do%>
            <div class="name">
              <h5 class='item-name'>
                <%= send.user.nickname %>
              </h5>
            </div>
            <div class="image">
              <%= image_tag send.image.variant(resize: '380x380'), class: "item-img" if send.image.attached? %>
            </div>
          <%end%>
        </div>
        <div class = contents>
          <p class="break-all">
            <%= send.content %>
          </p>
        </div>
      </div>
    <%end%>
  </div>
</div>