<div class=title-name>
  <h1>Hi-there</h1>
</div>
<div class="wrapper">
  <div class="side-bar">
    <%= render partial: "side-bar"%>
  </div>
  <div class="chat">
    <%= render partial: "send-form"%>
  </div>
</div

  