<h1>Hi-there</h1>
<div class= 'choice'>
  <div class = sign-up-page>
    <%= link_to 'Sign-up', new_user_registration_path %>
  </div>
  <div class = log-in-page>
  <%= link_to 'Log-in', new_user_session_path %>
  </div>
</div>

