.top_skip{
  text-decoration: none;
  color:whitesmoke
}
.main-page{
  background-color: cornsilk;
}
.base-row {
  background-color: bisque;
  display: flex;
} 
.wrapper {
  display: flex;
  justify-content: center;
  width: 100vw; 
}
.side-bar {
  background-color: rgb(243, 194, 119);
  width: 300px;
  height: 100vh;
  margin-left: 8px;
  margin-top: 14px;
  border-radius: 12px;
}
.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: sandybrown;
  display: flex;
  align-items: center;
  border-radius: 12px;
}

.header-name a{
  font-size: 21px;
  color: #FAFAFA;
  text-decoration: none;
  margin-left: 7px;
  transition: .3s;
  border-radius: 0.1cm;
}

.chat {
  margin: 0 auto;
}

.contents-row{
  height: 160vh;
  overflow: scroll;
}
.chat-form{
  height: 100vh;
  overflow: scroll;
  background-color:cornsilk ;
  margin-top: 31px;
}



h3 {
  font-size: 32px;
  text-align: center;
  width: 100vw;
  background-color: rgb(238, 185, 117);
  color:  white;
  margin: 15px auto;
}

h4 {
  font-size: 32px;
  text-align: center;
  width: 35vw;
  background-color: white;
  color:  rgb(238, 185, 117);
  margin: 0 auto;
}
h5 {
  text-decoration: none;
}

.name{
  list-style: none;
  text-align: center;
  border-bottom: 1.1px rgba(236, 146, 72, 0.295) solid;
  width: 100px;
  margin: 0 auto;
}

.list {
  list-style: none;
  margin-left: 43px;
  margin-top: 9.7px;
}
.options{
  margin-top: 33px;
}

.option{
  text-decoration: none;
  color: white;
  border-bottom:1px blanchedalmond solid ;
  transition: .3s;
  border-radius: 0.1cm;
}

.image-form{
  display: block;
  margin: 15px auto ;
}
.text-form{
  display: block;
  height: 235px;
  width: 525px;
}
.send-form{
  display: block;
  margin: 27px auto;
}

.container{
  display: flex;
  justify-content: center;
  margin-top: 40px;

}
.image_form{
  margin: 0 auto;
}

.send-lists{
  overflow: scroll;
  margin: 50px;
}

.send-info{
  width: 600px;
  border: 2.1px wheat;
  border-style: outset;
  border-radius: 1.2cm;
  margin-bottom: 18px;
  background-color: whitesmoke;
}
img{
  max-width:60vw;
  height:60vh;
}
.card-wrapper{
  width: 100vw; 
}

/* 詳細ページ */
.image{
  display: flex;
  justify-content: center;
}
.item-img{
  margin-top: 15px;
}
.more{
  margin-top: 30px;
}
.more_lists{
  display: flex;
  justify-content: center;
}
.edit-page{
  margin-right: 30px;
}
.edit { 
  background-color:darkgrey;
  color: white;
  border-radius: 3px;
}
.destroy{
  background-color:darkgrey;
  color: white;
  border-radius: 3px;
}
.destroy-page{
  margin-left: 30px;
}

.break-all{
  background-color:gainsboro ;
  margin: 30px auto;
  width:50%;
  border-radius: 0.1cm;
  padding: 5px;
}
.edit{
  text-decoration: none;
}
.destroy{
  text-decoration: none;
}
.base-row{
  padding: 30px 0;
}
.base{
  width: 680px;
  margin: 0 auto ;
  padding-bottom: 17px;
  border: white;
  background-color: whitesmoke;
  border-radius: 1.2cm;
}
.image-list{
  margin: 50px;
}
.title-name{
  padding: 12px;
}
.nick-name {
  text-decoration: none;
  color: sienna;
  margin-bottom: 14px;
  transition: .3s;
  border-radius: 0.1cm;
}
.nick-name:hover{
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}


/*編集ページ */
.second-title{
  display: flex;
  justify-content: center;
}
h5 {
  color:  rgb(238, 185, 117);
  font-size: 32px;
  text-align: center;
  width: 35vw;
  margin: 30px;
}

/* 検索 */
.search-form{
  padding-left: 138px;
}
.search-input{
  width: 240px;
  height: 33px;
}
.search-btn{
  height: 30px;
}

/* アイコン */
.icon{
  height: 33px;
  width: 33px;
  border-radius: 0.7cm;
}
ul {
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
}
ul li{
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none!important;
}
ul li:before {
  font-family: "Font Awesome 5 Free";
  content: "\f0a4";
  position: absolute;
  left : 1em; 
  color: white; 
}
.option:hover{
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}
.header-name a:hover{
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}
.sentence-all{
  text-decoration: none;
  color: black;
}
.post-page{
  margin: 0 auto;
}
.new-post{
  background-color: cornsilk;
  height: 1000px;
}
.post-form{
  height: 60%;
}
