.account-page__inner {
  width: 50%;
  margin: 40px auto;
  background-color: #fff;
  display: flex;
  /* border-radius: 5px; */
}
.account-page .account-page__header h2 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 40px;
  font-weight: 200;
}
.account-page .account-page__header h2:after {
  content: "";
  display: block;
  width: 60px;
  margin-top: 5px;
  border-bottom: 1px solid rgb(240, 127, 61);
}
.account-page .account-page__header h5 {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .account-page__header .btn {
  margin-top: 20px;
  color: #fff;
  background-color: #ccc;
  font-size: 14px;
}
.account-page .field {
  margin-bottom: 10px;
}
.account-page .field .field-label {
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .field .field-label i {
  font-size: 11px;
}
.account-page .field .field-input input {
  width: 100%;
  padding: 10px;
  letter-spacing: 1px;
}
.account-page .btn {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
}
.account-page input[type=submit] {
  float: right;
  margin-top: 20px;
  color: #fff;
  background-color:  rgb(240, 127, 61);
}
.account-page .field-label .field_with_errors {
  display: inline-block;
  color: #d65f4c;
  font-weight: 400;
}
.account-page .field-input .field_with_errors {
  position: relative;
}
.account-page .field-input .field_with_errors:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  background-color: #d65f4c;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
#error_explanation h2 {
  margin-bottom: 10px;
  color: #d65f4c;
  font-size: 14px;
}
#error_explanation ul {
  margin: 0;
  padding-left: 17px;
  list-style: square;
}
#error_explanation li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}
h1 {
  font-size: 42px;
  text-align: center;
  background-color: rgb(238, 185, 117);
  color:white;
  width: 19vw;
  margin: 12px 0 0 18px;
  border-radius: 4.5cm;
}

.sign-up {
  font-size: 17px;
  text-decoration: none;
  color: black;
}

.forgot-password {
  font-size: 17px;
  text-decoration: none;
  color: black;
}
.my-account {
  text-decoration: none;
  color:black;
}
.table {
  margin-top: 48px ;
  margin-bottom: 30px;
  width: 100%;
}
.detail-user {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 8px;
  text-align: center;
}
.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}
textarea {
  width: 100%;
}
.select-option {
  padding-right: 39px;
  padding-top: 28px;
}
.post-image{
  width: 50%;
}

.registration-main {
  width: 50%;
  margin:0 auto;
}
.edit-btn{
  margin: 0 auto;
  text-align: center;
}
.account-page-profile-top{
  width: 50%;
  margin: 40px auto;
  background-color: #fff;
}
